.grid-bg {
    position: fixed;
    inset: 0;
    overflow: hidden;
    background: #12400f;
    z-index: -1;
}

.grid-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-15deg);
    width: 400vw;

}

.grid-row {
    display: flex;
    width: max-content;
}

.grid-item {
    width: 300px;
    height: 300px;
    padding: 5px;
    box-sizing: border-box;
    /* border: 0.1px solid #0c0808;
    border-radius: 18px;
    background-color: #ffffff;*/

}

.grid-item-inner {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    background-size: cover;
    background-position: center;
}